
.toolBarContainer {
  display: grid;
  grid-template-columns: 56px [main-start] 1fr [main-end] 56px;
}

.toolbar {
    height:56px;
    width:100%;
    background-color: #2196F3;
}

.menuButton {
    display:table;
    background-color: #2196F3;
    border: none;
    color: white;
    width:20px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border-radius: 50%;
}

.menuButton:hover {
    background-color: #0288D1;
}

.menuButton:hover div .tooltiptext {
    visibility: visible;
}

.toolBarLabel {
  display:table;
  height: 100%;
  width: 100%;
  padding-left: 8px;
  font-size: 16px;
  text-align: left;
}

.toolBarLabelText {
  display: table-cell;
  vertical-align: middle;
  font-weight: bold;
  color: white;
}

.sidenav {
    width: 300px;
    height: 100%!important;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenavmain {
    margin-Left : 300px;
    border-width: 0px!important;
    transition: 0.5s;
}
