.sidebarmenuContainer {
  border-style: solid;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 2px;
  border-bottom-width: 0px;
  border-color: rgba(0,0,0,0.04);
  height:100%;
}
.sideMenuTitle {
  height:56px;
  width:100%;
  background-color: white;
  border-style: solid;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
  border-color: rgba(0,0,0,0.04);
}

.sideMenuLabel {
  display:table;
  height: 100%;
  width: 100%;
}

.sideMenuLabel:hover {
  background-color: rgba(0,0,0,0.04);
}

span.sideMenuLabelText:before {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  align-items: center;
  content: "\e314";
  opacity: .54;
  float: left;
  color: inherit;
  line-height:20px;
}

.sideMenuLabelText {
  display: table-cell;
  vertical-align: middle;
  font-weight: bold;
  color: rgba(0,0,0,0.54);
  text-align: center;
  padding-left: 16px;
  padding-right: 32px;
}

.material-icons {
  padding: 16px;
}
